<h3>Experience</h3>

<p>
  Linux and Windows environments, virtualization tools, managing production web
  infrastructure (Apache, MySQL, Oracle, PHP, Rails). Capacity to write scripts
  for systems automation. Basic knowledge of TCP/IP networking, load balancers,
  IDSs, and firewalls. Experience working with system and network monitoring tools:
  <i>Syslogd</i>, <i>Firestarter/iptables</i>, <i>Ettercap</i>, <i>Wireshark</i>,
  and so on. Experience with <i>MySQL</i> and <i>Oracle</i> database tools for design,
  development and administration. General working knowledge of <i>PL/SQL</i>. Highly
  flexible, adaptable, and able to deal with uncertainty.
</p>

<p><a class="more-link" href="#">continue reading</a></p>